# Ignore directories
/data_test/
/organized_categories/
/combined_classes/
/workspaces/finetune/test_data

# Ignore model weights in the model directory
model/*.pth
/workspaces/finetune/CNN/resnet_triplet.pth

/workspaces/finetune/image_captions.json

/workspaces/finetune/CNN/resnet_triplet_2.pth
/workspaces/finetune/CNN/resnet_triplet_3.pth
/workspaces/finetune/CNN/resnet_triplet_4.pth

/workspaces/finetune/combined_classes copy
/workspaces/finetune/AFINAL/clip/combined_classes_augmented
/workspaces/finetune/combined_classes copy
/workspaces/finetune/combined_classes copy 2

*.jpg
*.jpeg
*.png
*.gif
*.json
